# Python Data Visualizations

   - I will first create my own sample data to check if the packages are working properly then the fun with real data begins!

In [1]:
import pandas as pd
import numpy as np

In [7]:
# I will take the courses I am currently taking at my university as a sample data
course_details=[["SECT-M5201", "Advanced Development","SECT-4221","Enterprise Application Developement",7.00],
                ["SECT-M4451", "Machine Learning and big data","SECT-4451","Machine Learning and big data",7.00],
                ["SECT-M4181", "System Modeling","SECT-4181","Requirement Engineering and architectire",7.00],
                ["SECT-M4141", "High performance computing","SECT-4141","Fundamentals of distributed systems",7.00],
                ["SECT-M4231", "Software project management","SECT-4231","Software Project Management",7.00]]

column_lables= ["Module Code", "Module Name", "Course Code", "Course Title", "ECTS"]

In [8]:
course_table = pd.DataFrame(data= course_details, columns=column_lables)

In [9]:
course_table

,Module Code,Module Name,Course Code,Course Title,ECTS
0,SECT-M5201,Advanced Development,SECT-4221,Enterprise Application Developement,7.0
1,SECT-M4451,Machine Learning and big data,SECT-4451,Machine Learning and big data,7.0
2,SECT-M4181,System Modeling,SECT-4181,Requirement Engineering and architectire,7.0
3,SECT-M4141,High performance computing,SECT-4141,Fundamentals of distributed systems,7.0
4,SECT-M4231,Software project management,SECT-4231,Software Project Management,7.0